In [1]:
import pandas as pd
left = pd.DataFrame({'key': ['foo', 'bar'], 'val': [1, 2]}).set_index('key')
right = pd.DataFrame({'key': ['foo', 'bar'], 'val': [4, 5]}).set_index('key')

In [2]:
left

     val
key
foo    1
bar    2

In [3]:
right

     val
key
foo    4
bar    5

In [9]:
pd.merge(left, right, on='key')

     val_x  val_y
key
foo      1      4
bar      2      5

In [17]:
pd.merge(left, right,how='right',on='key')

     val_x  val_y
key
foo      1      4
bar      2      5

In [18]:
left.merge(right,on='key')

     val_x  val_y
key
foo      1      4
bar      2      5

In [22]:
left.join(right,on='key', lsuffix='_l',rsuffix='_r')

     val_l  val_r
key
foo      1      4
bar      2      5