2020.07.16

In [14]:
# Print 문자열 포맷팅
print(format(1.2334, '10.3f'))
name = 'kang'
print('나의 이름은 %s 입니다' %name)
age = 20
print('나의 나이는 {}이고, 이름은 {}입니다.'.format(age,name))

     1.233
나의 이름은 kang 입니다
나의 나이는 20이고, 이름은 kang입니다.

In [12]:
# 1
print('Hello World')

# 2 
print("Mary's cosmetics")

# 3
print('신씨가 소리질렀다. "도둑이야".')

# 4
print('"C:\\Windows"')

# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

# 6
print("오늘은", "일요일")

# 7
print("naver","kakao","samsung",sep=';')

# 8
print("naver","kakao","sk","samsung", sep="/")

# 9
print("first",end ='');print("second")

# 10
print(5/3)

Hello World
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
"C:\Windows"
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;samsung
naver/kakao/sk/samsung
firstsecond
1.6666666666666667

In [19]:
# 11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)
print('-'*50)

# 12
시가총액 = 298e12
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))
print('-'*50)

# 13
s = 'hello'
t = 'python'
print(s+'! '+t)
print('-'*50)

# 14
print(2+2*3)
print('-'*50)

500000
--------------------------------------------------
298000000000000.0 <class 'float'>
5000 <class 'int'>
15.79 <class 'float'>
--------------------------------------------------
hello! python
--------------------------------------------------
8
--------------------------------------------------

In [31]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])
print('-'*50)

# 24
string = "PYTHON"
print(string[::-1]) # NOHTYP
print('-'*50)

# 25
phone_number = "010-1111-2222"
replace_phone_number = phone_number.replace('-',' ')
print(replace_phone_number)
print('-'*50)

#
print('-'*50)

2210
--------------------------------------------------
NOHTYP
--------------------------------------------------
01011112222
--------------------------------------------------
--------------------------------------------------

mutable  변경가능 한 객체 - list, dictionary   
immutable 변경불가능한 객체 - int, string, tuple

In [34]:
# 30
string = 'abcd'
string.replace('b','B')
print(string)
print('-'*50)
# abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

abcd
--------------------------------------------------

In [45]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))
print('-'*50)

# 36
print("이름: {} 나이: {}".format (name1, age1))
print("이름: {} 나이: {}".format (name2, age2))
print('-'*50)

# 37 - f-string
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')
print('-'*50)

# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
print('-'*50)

# 40 - strip 메서드
data = "   삼성전자    "
data = data.strip()
print(data)
print('-'*50)

이름: 김민수 나이: 10
이름: 이철희 나이: 13
--------------------------------------------------
이름: 김민수 나이: 10
이름: 이철희 나이: 13
--------------------------------------------------
이름: 김민수 나이: 10
이름: 이철희 나이: 13
--------------------------------------------------
2020/03
--------------------------------------------------
삼성전자
--------------------------------------------------

In [62]:
# 41
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)
print('-'*50)

# 42
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)
print('-'*50)

# 43
a = "hello"
a = a.capitalize()
print(a)
print('-'*50)

# 44
file_name = "보고서.xlsx"
print(file_name.endswith(('.xlsx','.xls')))
print('-'*50)

# 49
date = "2020-05-01"
print(date.split("-"))
print('-'*50)

# 50
data = "039490     "
print(data.rstrip())
print('-'*50)

BTC_KRW
--------------------------------------------------
btc_krw
--------------------------------------------------
Hello
--------------------------------------------------
True
--------------------------------------------------
['2020', '05', '01']
--------------------------------------------------
039490
--------------------------------------------------

In [61]:
#
print('-'*50)
#
print('-'*50)
#
print('-'*50)
#
print('-'*50)
#
print('-'*50)
#
print('-'*50)
#
print('-'*50)

--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------